extends ../layout
link(rel='stylesheet', href='../stylesheets/style.css')

block content
  
  div.container-fluid
    h1.text-center= title
    
    each restau in restaurant
      div.row
        div.col-xs-12
          h3.titre_restau=restau.name
          
      div.row
        div.col-xs-6
          span.cuisine #{restau.cuisine} #{restau.borough}
          
          each address in restau.address
            div.address #{address.building} - #{address.street}
              - var url='http://maps.googleapis.com/maps/api/staticmap?center='+address.coord[1]+','+address.coord[0]+'&zoom=14&size=640x400&markers=color:red%7C'+address.coord[1]+','+address.coord[0]+'&style=element:labels|visibility:off&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true&key=AIzaSyCHxvKx4e7DHMVQ1pIReGyFlKOQdvYbMi0'
            
            div.row
              div.col-xs-12
                img(src=url)
          
        div.col-xs-6
          h5 Notes
          each grade in restau.grades
            div Score #{grade.score} - grade #{grade.grade} (#{grade.date})
            
            
